* {
  box-sizing: border-box;
}

.card {
  border: none;
}

a {
  text-align: center;
}

.container {
  max-width: 100vw;
  margin: 0;
}

marker-btn :focus {
  border-style: none;
  outline: none;
}

.mapboxgl-marker :active {
  align-content: center;
  text-align: center;
  border-style: none;
  outline: none;
}