div .myFooter {
  text-align: center;
  color: #F8F9FA;
  min-height: calc(20vh - 70px);
  padding-top: 20px;
  margin-top: 40px;
  font-size: small;
}

.navbar-brand {
  opacity: 0.30;
}

.mylink {
  color: white;
}

.mylink:hover {
  color: #D370E3;
}