.popup {
  background-color: #F8F9FA;
  font-size: 1rem;
  color: #343A40;
}

.popup h3 {
  color: #343A40;
  font-size: 1.2rem;
}

.popup p {
  color: darkgray;
  font-size: 1rem;
}

.marker-btn {
  background-color: none;
  padding: 1px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-color: rgba(255, 0, 0, 0.199);
  border-style: solid;
  box-shadow: 0 8px 6px -6px black;
}

.marker-btn:active {
  outline: 0;
  border: none;
}

.markerphoto {
  width: 200px;
}

/* change background and tip color to green */

.apple-popup .mapboxgl-popup-content {
  background-color: #F8F9FA;
  border-radius: 8%;
}

.apple-popup .mapboxgl-popup-tip {
  border-top-color: #F8F9FA;
}

/* change background and tip color to yellow */

.banana-popup .mapboxgl-popup-content {
  background-color: yellow;
}

.banana-popup .mapboxgl-popup-tip {
  border-top-color: yellow;
}